<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AutosaveEnabled" value="true"/>
    <add key="AutosaveInterval" value="10000"/>
    <add key="AutosaveDir" value="C:\Users\admin\Documents\autosaves\"/>
    <add key="FontSettings" value=""/>
    <add key="FontStyle" value=""/>
  </appSettings>
</configuration>