<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AutosaveEnabled" value="false"/>
    <add key="AutosaveInterval" value="10000"/>
    <add key="AutosaveDir" value=""/>
    <add key="FontSettings" value=""/>
    <add key="FontStyle" value=""/>
  </appSettings>
</configuration>